body {
  margin-top: 0;
}

.divFrase {
  display: grid;
  place-items: center;
  margin-top: 20vh;
}

.svg_seguridad {
  background-color: transparent;
  color: white;
  align-items: center;
  position: relative;
}

.frase {
  color: #FFFFFF;
  text-align: center;

}